<div class="container">
        
  
        
        <input type="text" id="alterEgo" value = "enter psswd" name="alterEgo" >
  
        
  
        <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
  
       <!-- NOT SHOWN IN DOCS -->
       <!-- - -->
  
    
  </div>
  
  <!-- ====================================================  -->
    
  
  <!-- ====================================================  -->

  
 
  
    <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
   

  