.container{
    min-height: 100vh;
    min-width: 100vw;

}
.container input{
    margin-top: 50vh;
    margin-left:47%;
    text-align: center;
    margin-right: auto;

}
.container button{
    margin-top: 2vh;
    margin-left:50%;
    margin-right: auto;
}