
  p{
    color: #888;
    font-family: Arial;
    font-size: 120%;
    font-weight: lighter;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    margin: 10px 0px;
    top: 0px;
    transform: translateX(-50%);
  }	
#container, #shell{
  width: 63.38281250000001vh ;
	height: 95vh;
	display: block;
	position: relative;
	z-index: 100;
	margin: 50px 0px;
  cursor: pointer;
}
#container{
	width: 100%;
	transform: rotateX(70deg);
  transform-style: preserve-3d;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
#shell{
	left: 50%;
	perspective: 1400px;
	transform: translateX(-50%);	
	transition: all .2s ease;
  -webkit-transition: all .6s ease;		
}
.box{
  width:100%;
  height: 100%;  
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -webkit-backface-visibility: visible;
  transform-origin: left;
  transform-style: preserve-3D;
  position: absolute;
  top:0px; 
  left: 0px;
}
div#box1{
  background: url(https://s-media-cache-ak0.pinimg.com/736x/f0/36/f5/f036f5db887f99c0e2f1c0b7aac90f22.jpg) !important;
  background-size: 100% 100%;	
  transform: rotate3d(0, 1, 0, 0deg);
  -webkit-backface-visibility: hidden;
  z-index: 200;
}

div#box1_back{
  background:url(../../assets/img/2024_/swe/bavsS.jpg) center no-repeat fixed;
  background-size: cover;
  transform: rotate3d(0, 1, 0, 0deg);
  z-index: 46;
}

div#box2{
  background:url(../../assets/img/2024_/dharu/bavs.jpg) center no-repeat fixed;
  background-size: cover;
  transform: rotate3d(0, 1, 0, 0deg);
  -webkit-backface-visibility: hidden;
  z-index: 190;
}
div#box2_back{
  background:url(../../assets/img/2024_/swe/gokuS.jpg) center no-repeat fixed;
  background-size: cover;
  transform: rotate3d(0, 1, 0, 0deg);
  z-index: 45;
  }
  div#box3{
    background:url(../../assets/img/2024_/dharu/goku.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 180;
  }
div#box3_back{
  background:url(../../assets/img/2024_/swe/iceS.jpg) center no-repeat fixed;
  background-size: cover;
  transform: rotate3d(0, 1, 0, 0deg);
  z-index: 44;
  }
  div#box4{
    background:url(../../assets/img/2024_/swe/ice_2S.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 170;
  }
  div#box4_back{
    background:url(../../assets/img/2024_/dharu/ice.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    z-index: 43;
    }
  div#box5{
    background:url(../../assets/img/2024_/dharu/ice_2.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 160;
  }
  div#box5_back{
    background:url(../../assets/img/2024_/swe/joshahS.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    z-index: 42;
    }
  div#box6{
    background:url(../../assets/img/2024_/dharu/joshah.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 150;
  }
  div#box6_back{
    background:url(../../assets/img/2024_/swe/nehaS.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    z-index: 41;
  }
  div#box7{
    background:url(../../assets/img/2024_/dharu/neha.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 140;
  }
  div#box7_back{
    background:url(../../assets/img/2024_/swe/raeesS.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    z-index: 40;
  }
  div#box8{
    background:url(../../assets/img/2024_/dharu/raees.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 130;
  }
  div#box8_back{
    background:url(../../assets/img/2024_/swe/ragaviS.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    z-index: 39;
  }
  div#box9{
    background:url(../../assets/img/2024_/dharu/ragavi.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 120;
  }
  div#box9_back{
    background:url(../../assets/img/2024_/swe/rajS.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    z-index: 38;
  }
  div#box10{
    background:url(../../assets/img/2024_/dharu/raj.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 110;
  }
  div#box10_back{
    background:url(../../assets/img/2024_/swe/shreeS.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    z-index: 37;
  }
  div#box11{
    background:url(../../assets/img/2024_/dharu/shree.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-backface-visibility: hidden;
    z-index: 100;
  }
  div#box11_back{
    background:url(../../assets/img/2024_/sk.jpg) center no-repeat fixed;
    background-size: cover;
    transform: rotate3d(0, 1, 0, 0deg);
    z-index: 36;
  }



h1{
  font-family: 'Satisfy', cursive;
  font-size: 5em;
  color: #DD3300;
  margin:0px;
  position: relative;
  top: 70%;
  display: -webkit-box;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
  font-weight: 200;
  -webkit-user-select: none;
  user-select: none;
  background: #022;
}
h6{
	font-family: 'lobster', cursive;
	font-size: 150%;
	color: #C5E1A5;
	margin:0px;
	position: relative;
	top: 60%;
	display: -webkit-box;
	width: 100%;
	text-align: center;
	-webkit-box-pack: center;
	font-weight: 200;
	-webkit-user-select: none;
	user-select: none;
  font-size: 3vh;
}	
.ishu{
  margin-right: 6vh;
  margin-left: -15px;
  margin-top: 13vh;
  margin-left: 4vh;
}
@media screen and (max-width: 551px) {
  #container, #shell{
    //width: 70vw;
    //max-height: 104.91803278688523vw;
    width: 30vh;
    height: 45vh;
    top: 10%;
  }
  h1{
    font-size: 5vh;
  }
}
.flipH {
    transform: scale(-1, 1);
    color: #1c87c9;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }