<div id="shell"> 
    <div id="container" >
        <div id="box1" class="box" (click)="container_move(); open_card()" >
            <h1>Surprise</h1>
        </div>
      <div id="box1_back" class="box" (click)="container_move(); open_card()" > <p class="flipH">Hi from Siva </p>
    </div>
            <div id="box2" class="box" (click)="container_move(); ">
                <h6>Happy Bday<br /> whatever<br/>blah! blah! blah! your Welcome.</h6>
        </div>
        <div id="box3" class="box" >
            <h6>Happy Bday<br /> whatever<br/>blah! blah! blah! your Welcome.</h6>
    </div>
    </div>
    </div>

